
@media @mq_2x_small {
	[role="banner"], [role="main"] {
		width: @pw_2x_small;
	}
}
@media @mq_x_small {
	[role="banner"], [role="main"] {
		width: @pw_x_small;
	}
}
@media @mq_small {
	[role="banner"], [role="main"] {
		width: @pw_small;
	}
}
@media @mq_medium {
	[role="banner"], [role="main"] {
		width: @pw_medium;
	}
}
@media @mq_large {
	[role="banner"], [role="main"] {
		width: @pw_large;
	}
}
@media @mq_x_large {
	[role="banner"], [role="main"] {
		width: @pw_x_large;
	}
}
