@media only screen and (min-width: 320px) {
  .bellmaker_container {
    width: 100%;
  }
}
@media only screen and (min-width: 480px) {
  .bellmaker_container {
    width: 100%;
  }
}
@media only screen and (min-width: 640px) {
  .bellmaker_container {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .bellmaker_container {
    width: 76.8rem;
  }
}
@media only screen and (min-width: 1024px) {
  .bellmaker_container {
    width: 96rem;
  }
}
@media only screen and (min-width: 1280px) {
  .bellmaker_container {
    width: 115.2rem;
  }
}
@media only screen and (min-width: 1440px) {
  .bellmaker_container {
    width: 134.4rem;
  }
}
html {
  font-size: 62.5%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  padding: 0;
  font-size: 100%;
  position: relative;
  text-rendering: optimizelegibility;
  font-size: 1em;
  line-height: 1;
  font-family: Helvetica, Arial, sans-serif;
}
body,
table,
td,
ul,
h1,
h2,
h3,
h4,
p,
img {
  margin: 0;
}
[role="banner"],
[role="main"] {
  margin: 0 auto;
  overflow: auto;
  box-sizing: border-box;
}
[role="banner"] > h1 {
  padding: 2rem 2rem 0 2rem;
}
h1 {
  font-weight: normal;
}
@media only screen and (min-width: 320px) {
  h1 {
    font-size: 6rem;
    line-height: 6rem;
  }
}
@media only screen and (min-width: 480px) {
  h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
}
ul {
  padding-bottom: 2rem;
}
ul ul {
  padding-bottom: 0;
  padding-left: 2rem;
}
p,
li {
  font-size: 1.4rem;
  line-height: 2rem;
}
p {
  padding: 0 2rem 2rem;
}
h2 {
  font-size: 2rem;
  line-height: 3rem;
  padding: 0 2rem;
}
[role="banner"] h2 {
  padding: 0 2rem 2rem;
  font-weight: normal;
}
h3 {
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 0 2rem;
}
@media only screen and (min-width: 320px) {
  [role="banner"],
  [role="main"] {
    background-color: rgba(0, 0, 255, 0.1);
  }
}
@media only screen and (min-width: 480px) {
  [role="banner"],
  [role="main"] {
    background-color: rgba(0, 255, 255, 0.1);
  }
}
@media only screen and (min-width: 640px) {
  [role="banner"],
  [role="main"] {
    background-color: rgba(255, 0, 255, 0.1);
  }
}
@media only screen and (min-width: 768px) {
  [role="banner"],
  [role="main"] {
    background-color: rgba(0, 0, 255, 0.2);
  }
}
@media only screen and (min-width: 1024px) {
  [role="banner"],
  [role="main"] {
    background-color: rgba(0, 255, 255, 0.2);
  }
}
@media only screen and (min-width: 1280px) {
  [role="banner"],
  [role="main"] {
    background-color: rgba(255, 0, 255, 0.2);
  }
}
@media only screen and (min-width: 1440px) {
  [role="banner"],
  [role="main"] {
    background-color: rgba(255, 255, 0, 0.2);
  }
}
#basic_query:before {
  content: "Device-agnostic: ";
  font-weight: bold;
}
#basic_query:after {
  display: block;
}
@media only screen and (min-width: 320px) {
  #basic_query:after {
    content: "baseline - 100% liquid for screens at 320 to 480";
  }
}
@media only screen and (min-width: 480px) {
  #basic_query:after {
    content: "2x-small - 100% liquid for screens at 480 to 640";
  }
}
@media only screen and (min-width: 640px) {
  #basic_query:after {
    content: "x small - 100% liquid for screens at 480 to 768";
  }
}
@media only screen and (min-width: 768px) {
  #basic_query:after {
    content: "small - 768 pixels for screens at 768 to 1024";
  }
}
@media only screen and (min-width: 1024px) {
  #basic_query:after {
    content: "medium - 960 pixels for screens at 1024 to 1280";
  }
}
@media only screen and (min-width: 1280px) {
  #basic_query:after {
    content: "large - 1152 pixels for screens at 1280 to 1440";
  }
}
@media only screen and (min-width: 1440px) {
  #basic_query:after {
    content: "x-large - 1296 pixels for screens at 1440 and up";
  }
}
#device_sniffer:before {
  content: "Device-specific: ";
  font-weight: bold;
}
#device_sniffer:after {
  content: "none detected";
  display: block;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (min-resolution: 1dppx) and (orientation : landscape) {
  #device_sniffer:after {
    content: "early iPad in landscape mode";
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (min-resolution: 1dppx) and (orientation : portrait) {
  #device_sniffer:after {
    content: "early iPad in portrait mode";
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (min-resolution: 2dppx) and (orientation : landscape) {
  #device_sniffer:after {
    content: "retina iPad in landscape mode";
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (min-resolution: 1dppx) and (orientation : portrait) {
  #device_sniffer:after {
    content: "retina iPad in portrait mode";
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
  #device_sniffer:after {
    content: "early iPhone in landscape mode";
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
  #device_sniffer:after {
    content: "early iPhone in portrait mode";
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
  #device_sniffer:after {
    content: "early iPhone in landscape mode";
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
  #device_sniffer:after {
    content: "early iPhone in portrait mode";
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (min-resolution: 2dppx) and (orientation : landscape) {
  #device_sniffer:after {
    content: "iPhone 4(s) in landscape mode";
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (min-resolution: 2dppx) and (orientation : portrait) {
  #device_sniffer:after {
    content: "iPhone 4(s) in portrait mode";
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (min-resolution: 2dppx) and (orientation : landscape) {
  #device_sniffer:after {
    content: "iPhone 5(s)(c) in landscape mode";
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (min-resolution: 2dppx) and (orientation : portrait) {
  #device_sniffer:after {
    content: "iPhone 5(s)(c) in portrait mode";
  }
}
@media only screen and (min-device-width : 384px) and (max-device-width : 640px) and (min-resolution: 2dppx) and (orientation : landscape) {
  #device_sniffer:after {
    content: "15:9 HD:2 in landscape mode";
  }
}
@media only screen and (min-device-width : 384px) and (max-device-width : 640px) and (min-resolution: 2dppx) and (orientation : portrait) {
  #device_sniffer:after {
    content: "15:9 HD:2 in portrait mode";
  }
}
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) and (min-resolution: 2dppx) and (orientation : landscape) {
  #device_sniffer:after {
    content: "720p HD:2 in landscape mode";
  }
}
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) and (min-resolution: 2dppx) and (orientation : portrait) {
  #device_sniffer:after {
    content: "720p HD:2 in portrait mode";
  }
}
@media only screen and (min-device-width : 540px) and (max-device-width : 960px) and (min-resolution: 2dppx) and (orientation : landscape) {
  #device_sniffer:after {
    content: "Full HD:2 in landscape mode";
  }
}
@media only screen and (min-device-width : 540px) and (max-device-width : 960px) and (min-resolution: 2dppx) and (orientation : portrait) {
  #device_sniffer:after {
    content: "Full HD:2 in portrait mode";
  }
}
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) and (min-resolution: 3dppx) and (orientation : landscape) {
  #device_sniffer:after {
    content: "Full HD:3 in landscape mode";
  }
}
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) and (min-resolution: 3dppx) and (orientation : portrait) {
  #device_sniffer:after {
    content: "Full HD:3 in portrait mode";
  }
}
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) and (min-resolution: 4dppx) and (orientation : landscape) {
  #device_sniffer:after {
    content: "WQHD:4 in landscape mode";
  }
}
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) and (min-resolution: 4dppx) and (orientation : portrait) {
  #device_sniffer:after {
    content: "WQHD:4 in portrait mode";
  }
}
