html {
  font-size: 62.5%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  padding: 0;
  font-size: 100%;
  position: relative;
  text-rendering: optimizelegibility;
  font-size: 1em;
  line-height: 1;
  font-family: Helvetica, Arial, sans-serif;
}
body,
table,
td,
ul,
h1,
h2,
h3,
h4,
p,
img {
  margin: 0;
}
[role="banner"],
[role="main"] {
  margin: 0 auto;
  overflow: auto;
  box-sizing: border-box;
}
[role="banner"] > h1 {
  padding: 2rem;
}
[role="main"] {
  padding-bottom: 2rem;
}
[role="main"] > p,
[role="main"] > h2 {
  padding: 0 2rem 2rem;
}
h1 {
  font-size: 3rem;
  line-height: 4rem;
}
p,
li {
  font-size: 1.4rem;
  line-height: 2rem;
}
@media only screen and (min-width: 320px) {
  [role="banner"],
  [role="main"] {
    width: 100%;
    background-color: rgba(0, 0, 255, 0.1);
  }
}
@media only screen and (min-width: 568px) {
  [role="banner"],
  [role="main"] {
    width: 100%;
    background-color: rgba(0, 0, 255, 0.2);
  }
}
@media only screen and (min-width: 768px) {
  [role="banner"],
  [role="main"] {
    width: 76.8rem;
    background-color: rgba(0, 255, 255, 0.1);
  }
}
@media only screen and (min-width: 1024px) {
  [role="banner"],
  [role="main"] {
    width: 96rem;
    background-color: rgba(0, 255, 255, 0.2);
  }
}
@media only screen and (min-width: 1280px) {
  [role="banner"],
  [role="main"] {
    width: 115.2rem;
    background-color: rgba(255, 0, 255, 0.1);
  }
}
@media only screen and (min-width: 1440px) {
  [role="banner"],
  [role="main"] {
    width: 129.6rem;
    background-color: rgba(255, 0, 255, 0.2);
  }
}
@media only screen and (min-width: 320px) {
  #basic_query:after {
    content: "Query 1: 100% liquid for screens at 320 to 568";
  }
}
@media only screen and (min-width: 568px) {
  #basic_query:after {
    content: "Query 2: 100% liquid for screens at 568 to 768";
  }
}
@media only screen and (min-width: 768px) {
  #basic_query:after {
    content: "Query 3: 768 pixels for screens at 768 to 1024";
  }
}
@media only screen and (min-width: 1024px) {
  #basic_query:after {
    content: "Query 4: 960 pixels for screens at 1024 to 1280";
  }
}
@media only screen and (min-width: 1280px) {
  #basic_query:after {
    content: "Query 5: 1152 pixels for screens at 1280 to 1440";
  }
}
@media only screen and (min-width: 1440px) {
  #basic_query:after {
    content: "Query 6: 1296 pixels for screens at 1440 and up";
  }
}
#ios_sniffer:before {
  content: "iOS device - ";
}
#ios_sniffer:after {
  content: "none detected";
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) {
  #ios_sniffer:after {
    content: "early iPad in landscape mode";
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #ios_sniffer:after {
    content: "early iPad in portrait mode";
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) {
  #ios_sniffer:after {
    content: "retina iPad in landscape mode";
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #ios_sniffer:after {
    content: "retina iPad in portrait mode";
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
  #ios_sniffer:after {
    content: "early iPhone in landscape mode";
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
  #ios_sniffer:after {
    content: "early iPhone in portrait mode";
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
  #ios_sniffer:after {
    content: "early iPhone in landscape mode";
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
  #ios_sniffer:after {
    content: "early iPhone in portrait mode";
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) {
  #ios_sniffer:after {
    content: "iPhone 4(s) in landscape mode";
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) {
  #ios_sniffer:after {
    content: "iPhone 4(s) in portrait mode";
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
  #ios_sniffer:after {
    content: "iPhone 5(s)(c) in landscape mode";
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
  #ios_sniffer:after {
    content: "iPhone 5(s)(c) in portrait mode";
  }
}
/* iOS Media Queries ------------------------ */
/* ------------------------------------------ */
/*ipad Mini, iPad 1 & 2 in landscape*/
/*ipad Mini, iPad 1 & 2 in portrait*/
/* ------------------------------------------ */
/* ------------------------------------------ */
